# [作業目標]


1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

# 作業

In [2]:
# 記得先 Import 正確的套件

'''
Your Code
'''

### 1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

In [30]:
df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})

df2 = pd.DataFrame({
    'fruit': ['apple', 'orange', 'pine'] * 2,
    'weight': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})
print(df1)
print(df2)

    fruit  weight  price
0   apple    high     10
1  banana  medium      9
2  orange     low      5
3   apple    high      1
4  banana  medium     11
5  orange     low      4
6   apple    high      7
7  banana  medium      2
8  orange     low      3
    fruit weight  price
0   apple   high     10
1  orange    low      2
2    pine   high     11
3   apple    low      0
4  orange   high     10
5    pine    low      2

In [31]:
# - 依照 fruit 欄位做合併
pd.merge(df1,df2,on='fruit')

     fruit weight_x  price_x weight_y  price_y
0    apple     high       10     high       10
1    apple     high       10      low        0
2    apple     high        1     high       10
3    apple     high        1      low        0
4    apple     high        7     high       10
5    apple     high        7      low        0
6   orange      low        5      low        2
7   orange      low        5     high       10
8   orange      low        4      low        2
9   orange      low        4     high       10
10  orange      low        3      low        2
11  orange      low        3     high       10

In [32]:
# - 依照 index 索引做合併

pd.merge(df1,df2,on='index')

KeyError: 'index'

### 2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

In [33]:
'''
 他是df1 inner df2
'''

'\n 他是df1 inner df2\n'

### 3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

In [34]:
'''
他的column裡面並沒有index
'''

'\n他的column裡面並沒有index\n'

In [44]:
pd.merge(df1, df2, left_index=True,  how='left',right_index=True,suffixes=('_df1','_df2'))

  fruit_df1 weight_df1  price_df1 fruit_df2 weight_df2  price_df2
0     apple       high         10     apple       high       10.0
1    banana     medium          9    orange        low        2.0
2    orange        low          5      pine       high       11.0
3     apple       high          1     apple        low        0.0
4    banana     medium         11    orange       high       10.0
5    orange        low          4      pine        low        2.0
6     apple       high          7       NaN        NaN        NaN
7    banana     medium          2       NaN        NaN        NaN
8    orange        low          3       NaN        NaN        NaN